@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    max-width: 1100px;
    margin: auto;
}


header nav img {
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    position: relative;
    top: 15px;


}
.hrone{
    display: none;
}
.hrtwo{
    display: none;
}

.hr {
    position: relative;
    top: 40px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header .menu1 {

    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

header .menu1 .none {
    margin-top: 5px;
}
.sign{
    display: block;
}
.bars{
    display:none;
    margin-top: 15px;
}
.signtwo{
    display: none;
}

header .menu1 ul li a {

    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    padding: 10px;
    letter-spacing: -0.04em;
    color: #757575;
}

header .menu1 ul {

    display: flex;



}

header .menu1 ul li {
    border-radius: 30px;
    padding: 10px;
   
}


header .menu1 ul li:hover {
    background-color: #C3DCE3;
}


header .menu2 .active {
    background-color: #C3DCE3;
    border-radius: 30px;
    padding: 10px 17px;
}

header .menu2 ul li:hover {
    background-color: #C3DCE3;
}

header .menu2 ul li {
    border-radius: 30px;
    padding: 15px 5px;
}

section .menu .a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #2B788B;
    position: relative;
    top: 110px;
}

section .menu h1 {
    width: 531px;
    height: 201px;
    font-family: 'Dela Gothic One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: #000000;
    position: relative;
    top: 130px;
}

section .menu p {
    width: 396.89px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #757575;
    margin-top: 150px;
}

section .menu .btn {
    width: 165px;
    height: 44px;
    border-radius: 40px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #2B788B;
    padding: 0 25px;
    margin-top: 25px;
    margin-bottom: 20px;

}

section .menu .btn:hover {
    background-color: #C3DCE3;

}

section .menu3 .popular {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
    color: #585858;
    position: relative;
    bottom: 150px;
    left: 20px;



}




section .menu3 .game {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    letter-spacing: -0.04em;

    color: #585858;
    position: relative;
    bottom: 150px;
}


section .menu {

    display: flex;
    flex-direction: column;
}

section .menu3 {
    display: flex;
}

section .menu .top {
    display: flex;



}

.image img {
    width: 510px;
    height: 350px;
    position: relative;
    right: 150px;
    top: 120px;



}

section .hr {
    height: 50px;
    width: 2px;
    background-color: #E0E0E0;
    position: relative;
    top: 5px;
    right: 130px;
    border-radius: 20px;

}